#metadata
.metadata/
#sonarlint
.sonarlint/
#recommenders
.recommenders/

#Gradle
RetoFincaRaiz/.gradle/
#metadata
RetoFincaRaiz/.metadata/

#Java
*.class

#log
*.log

#Eclipse
.classpath
.project
settings.gradle
*.exe
RetoFincaRaiz/.settings/
RetoFincaRaiz/bin/
RetoFincaRaiz/RemoteSystemsTempFiles/

#Serenity
RetoFincaRaiz/target/
RetoFincaRaiz/build/